network.Address  - Add support for DNS name

For the moment, `network.Address.Valid()` returns true only if the address contains a valid IP address or localhost.
We should add a verification that it can also be a valid DNS name. I guess there's some restricted characters that you can put in a dns name...


Here is a quick overview what makes a valid hostname: https://en.wikipedia.org/wiki/Hostname#Restrictions_on_valid_host_names

Do we still need / want that for the epic SDA Refactoring issue ? The epic issue has been hanging for a while and should move on.  This issue is not evena refactoring per-se.

Sources about the syntax of hostnames:
	- https://en.wikipedia.org/wiki/Hostname#Restrictions_on_valid_host_names
	- https://en.wikipedia.org/wiki/List_of_Internet_top-level_domains#IDN_Test_TLDs
	- RFC 1035, RFC 1123
Theoretically, it seems that a TLD with a hyphen (-) is accepted:
	-> no RFC says the opposite, explicitly
	-> The second source shows some examples of TLD with hyphens (the ones used for punycode)
But: https://tools.ietf.org/html/rfc1123#page-13 has the following lines: "However, a valid host name can never have the dotted-decimal form #.#.#.#, since at least the highest-level component label will be alphabetic."
I guess it depends on whether we want to handle IDNs too (whose representation was introduced in a second moment, in RFC 3492). At moment, they are NOT handled. A minor change would be enough to handle them.